.p-fv {
    position: relative;
    background-image: url(../images/fv_01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 48vw;
    @media (max-width: 767px) {
        height: 100vh;
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.2);
    }
    &__inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__catch {
        color: #fff;
        font-size: clamp(28px, 4vw, 40px);
        font-weight: bold;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    }
    &__text {
        color: #fff;
        font-size: clamp(20px, 2.8vw, 28px);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, .8);
    }
}

.p-about {
    &__content {
        display: flex;
        gap: 50px;
        justify-content: center;
    }
    &__body {
        margin-top: 20px;
    }
}

// サービス
.p-service {
    background-color: #f7f7f7;
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

// 実績
.p-works {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

// お知らせ
.p-news {
    font-size: 16px;
    background-color: #f5f5f5;
    &__item {
        display: flex;
        border-bottom: 1px solid #ccc;
        time {
            display: block;
            font-weight: bold;
            padding: 1.5em;
        }
        &:first-of-type {
            border-top: 1px solid #ccc;
        }
    }
    &__link {
        display: block;
        margin-left: 60px;
        flex-grow: 1;
        padding: 1.5em;
        text-decoration: underline;
        transition: all .3s;
        &:hover {
            text-decoration: none;
        }
    }
}

// お問合わせ
.p-contact {
    text-align: center;
}
